<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      type="text"
      (click)="visibleSidebar1 = true"
      icon="pi pi-align-justify"
    ></p-button>
  </div>

  <div>
    <input type="text" pInputText />
  </div>

  <div class="p-toolbar-group-end">
    <p-inputSwitch
        [(ngModel)]="themeSelection"
        (onChange)="changeTheme($event.checked)"
      >
      </p-inputSwitch>
  </div>
</p-toolbar>


<p-sidebar [(visible)]="visibleSidebar1" [style]="{ width: '20em' }" [baseZIndex]="10000">
    <p-button
      label="Pagina Inicial"
      [style]="{ width: '100%', 'margin-bottom': '1rem' }"
      routerLink="/"
      routerLinkActive="active-link"
    ></p-button>
    <p-button
      label="Funcionários"
      [style]="{ width: '100%', 'margin-bottom': '1rem' }"
      routerLink="/funcionarios"
      routerLinkActive="active-link"
    ></p-button>
    <br />
    <p-button
      label="Teste"
      [style]="{ width: '100%', 'margin-bottom': '1rem' }"
      routerLink="/teste"
      routerLinkActive="active-link"
    ></p-button>
    <br />
    <p-button
      label="Cargos"
      [style]="{ width: '100%', 'margin-bottom': '1rem' }"
      routerLink="/cargos"
      routerLinkActive="active-link"
    ></p-button>
  </p-sidebar>


<router-outlet></router-outlet>
